# Compiled output
/dist
/node_modules

# Environment
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# OpenSpec & Local Task Tracking
task.md
GUIA_DEFENSA.md

# Secret Firebase Admin Key
serviceAccountKey.json
src/config/serviceAccountKey.json

# Temporary test scripts
src/test-firebase.ts
test-firebase.ts
